apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: docker-registry-secret
  namespace: {{ jenkins_namespace }}
data:
  .dockerconfigjson: {{ ('{"auths":{"' + jenkins_docker_registry_host + '":{"username":"' + jenkins_docker_registry_user + '","password":"' + jenkins_docker_registry_pass + '","email":"admin@example.com"}}}') | b64encode }}
